*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#f4f6fb;
}



header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:#1c3faa;
color:white;

}

.logo{
font-size:24px;
font-weight:bold;
display:flex;
align-items:center;
}

.logo-img{
height:40px;
margin-right:10px;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav ul li a{
color:white;
text-decoration:none;
font-size:17px;
}

nav ul li a:hover{
color:#cfdcff;
}

.salir{
color:#ffb3b3;
}

/* CONTENIDO */

.principal{
padding:40px;
}

h1{
margin-bottom:10px;
}

.alertas-container{

display:flex;
gap:20px;
margin-top:30px;
margin-bottom:40px;

}

.alerta{

background:white;
padding:25px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
flex:1;
text-align:center;

}

.alerta i{
font-size:35px;
color:#ff9800;
margin-bottom:10px;
}



table{

width:100%;
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 4px 10px rgba(0,0,0,0.1);

}

th,td{
padding:15px;
text-align:center;
}

th{
background:#1c3faa;
color:white;
}

tr:nth-child(even){
background:#f2f2f2;
}

.rojo{
color:red;
font-weight:bold;
}

.naranja{
color:orange;
font-weight:bold;
}